
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --app-color-primary: #686bd2;
  --font-family: sans-serif;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

.notifications-button {
  display: block;
  border: none;
  box-sizing: border-box;
  background-color: #3f97a6;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  transition: background-color .2s,color .2s;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 11px;
  font: 700 14px/1.5 Muli,'Open Sans',"Droid Sans",Helvetica,sans-serif;
  outline:none; 
}